@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
@layer components {
  .bb-2 {
    @apply border-gray-200 border-b-[1.7px];
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
